<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!-- Left -->
        <div class="col-md-4 col-xl-3">

            <div class="row">
                <div class="col-md-12">
			        <span>
			          <a href="/u/henry" th:href="'/u/' + ${user.username}" title="henry" th:title="${user.username}" >
			            <img th:src="${user.avatar} == null ? '/images/avatar-defualt.jpg' : ${user.avatar} "
                             class="blog-avatar-230">
			          </a>
			        </span>

                </div>

            </div>
            <div class="row">

                <div class="col-md-12">
                    <h2 class="card-text" th:text="${user.name}">Henry</h2>
                    <h4 class="card-text" th:text="${user.username}">henry</h4>
                </div>
            </div>


            <div class="row ">
                <div class="col-md-12">
                    <h5><i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <a href="mailto:henry@test.com" th:href="'mailto:'+ ${user.email}" th:text="${user.email}">henry@test.com</a></h5>
                </div>
            </div>

            <hr>

	      <!-- Group -->
	        <div class="card my-4">
	            <h5 class="card-header"><i class="fa fa-bars" aria-hidden="true"></i> Group</h5>
	
	            <ul class="list-group">
	                <a href="/u/henry/blogs?category=11" class="list-group-item" title="henry">
	                    Spring Data
	                </a>
	                <a href="/u/henry/blogs?category=11" class="list-group-item" title="henry">
	                    	Distributed System
	                </a>
	                <a href="/u/henry/blogs?category=11" class="list-group-item" title="henry">
	                   	Java
	                </a>
	                <a href="/u/henry/blogs?category=11" class="list-group-item" title="henry">
	                   Eclipse
	                </a>
	
	                <a href="/u/henry/blogs?category=11" class="list-group-item" title="henry">
	                     Plugin
	                </a>
	            </ul>
	        </div>
        </div>
        
        <!-- Right -->

        <div class="col-md-8 col-xl-9">
            <!-- Tool bar -->

            <ul class="nav nav-tabs mr-auto">

                <li class="nav-item">
                    <a class="nav-link " data-th-classappend="${order} eq 'new' ? 'active' : ''"
                       href="javascript:void(0)" th:attr="url='/u/'+${user.username}+'/blogs?order=new'">Most Recent</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-th-classappend="${order} eq 'hot' ? 'active' : ''"
                       href="javascript:void(0)" th:attr="url='/u/'+${user.username}+'/blogs?order=hot'">Top</a>
                </li>

                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" id="keyword" th:value="${keyword}">
                    <a href="javascript:void(0)" class="btn btn-outline-secondary my-2 my-sm-0" id="searchBlogs">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </form>

            </ul>

            <div id="mainContainer">
                <div id="mainContainerRepleace">
                    <div class="card mb-4" th:each="blog : ${blogList}">
                        <div class="card-block">
                            <h2 class="card-title">
                                <a href="/u/henry/blogs/1" class="card-link" title="henry"
                                   th:href="'/u/' + ${blog.user.username} + '/blogs/'+ ${blog.id}"  th:title="${blog.user.username}" th:text="${blog.title}">
                                    Lorem ipsum dolor sit amet
                                </a>
                            </h2>
                            <p class="card-text" th:text="${blog.summary}">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. </p>
                            <div class="card-text">
                                Published on [[${#dates.format(blog.createTime, 'yyyy-MM-dd HH:mm')}]] <i class="fa fa-eye" aria-hidden="true">[[${blog.readSize}]]</i>
                                <i class="fa fa-heart-o" aria-hidden="true">[[${blog.voteSize}]]</i> <i class="fa fa-comment-o"
                                                                                                        aria-hidden="true">[[${blog.commentSize}]]</i>
                            </div>
                        </div>
                    </div>

                    <div th:replace="~{fragments/page :: page}">...</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<div th:replace="~{fragments/footer :: footer}">...</div>

<!-- JavaScript -->
<script th:inline="javascript">
    var username = [[${user.username}]];
</script>

<script src="../../js/userspace/u.js" th:src="@{/js/userspace/u.js}"></script>

</body>
</html>